

header, footer{
  background-color: green;
  border: solid 2px black;
  /* font-family: Times New Roman, serif; */
} 

footer{
  padding: 10px;
  border-radius: 3px;
}

body{
  font-family: Segoe UI, Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color:orange;
}

label{
  width: 200px;
}

input[type="submit"]{
  border-radius: 12px;
  padding: 3px;
  color: yellow;
}

nav a {
  color: yellow;
}

header nav{
  float: right;
}

header nav li{
  display: inline;
}

/* selectors: preko id-a */
#getExampleSection{
  border: solid 3px green;
  border-radius: 5px;
  color: #202020;
  margin: 20px 10px 5px 0px; /* top right bottom left*/
  padding: 5px;
}

#postExampleSection{
  border: solid 3px purple;
  border-radius: 5px;
  color: #202020;
  margin: 20px 0px; /* (top  bottom) (right left)*/
  padding: 5px;
}

/* sve labele u elementu sa idjem getExampleSection
 * sve labele u elementima klase simple-form
 */
#getExampleSection label, .simple-form label{
  font-weight: bold
}

/* nije dobra praksa - neotporno na projenu strukture dokumenta */
#postExampleSection > div > form > label{
  color: blue
}

#getExampleSection input[type="text"], getExampleSection input[type="password"], #getExampleSection select{
  width: 200px;
}

#getExampleSection input[type="submit"]{
  background-color: green;
}

#postExampleSection input[type="submit"]{
  background-color: purple;
}


/* class selectors */

.container{
  width: 943px;
  margin: 0; /* centriraj*/
  padding: 5px;
}

.bordered-image, .result{
  border: solid 3px purple;
  padding: 2px;
  margin: 2px;
  border-radius:7px;
}

.simple-form{
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

#results{
  display: inline-block;
  width: 600px;
  padding: 2px;
  vertical-align: top;
  margin: 20px;
}